* {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

.text {
    text-transform: uppercase;
}

.logo {
    width: 150px;
    height: auto;
}

.nav-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}

.open-btn {
    position: fixed;
    top: 10px;
    left: 10px;

}