* {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

.text {
    text-transform: uppercase;
}

.logo {
    width: 150px;
    height: auto;
}

.nav-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}

.open-btn {
    position: fixed;
    top: 10px;
    left: 10px;

}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;

    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.nav.visible {
    transform: translateX(0);
}

.nav-black {
    background-color: rgb(34, 31, 31);
    width: 60%;
    max-width: 480px;
    min-width: 320px;
}
.nav-red {
    background-color: rgb(229, 9, 20);
    width: 95%;
}
.nav-white {
    background-color: #FFF;
    width: 95%;
    padding: 40px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 30px;
    opacity: 0.3;
}